* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    width: 100%;
    height: 725px;
    position: relative;
}

.slider img {
    width: 100%;
    height: 725px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Hide all images initially */
    transition: opacity 1s ease; /* Smooth transition for fade effect */
}

.slider img:first-child {
    opacity: 1; /* First image visible on load */
}

.navigation-button {
    text-align: center;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: red;
    display: inline-block;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: blue; /* Active dot */
}
